@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    max-width: 800px;
}

.page-title {
    background-color: #228686;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: #fff;
    padding: 2px 4px;
    border-radius: 8px;
    overflow: hidden;
}

.subheading {
    font-size: 1.2em;
    font-weight: 400;
    color: #30a18a;
}

#movie-details {
    margin: 20px 0;
    padding: 6px 12px;
    min-width: 320px;
    max-width: 800px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #d6f5f5;
    width: 95%;
}

.movie-plot {
    flex: 5;
}

#movie-details p,
#movie-details h4 {
    margin: 0.5em;
}

.movies-table-container {
    max-width: 800px;
    min-width: 300px;
    overflow: hidden;
}

.movies-table {
    border-collapse: collapse;
    margin: 20px auto;
    min-width: 300px;
    width: 95%;
    box-shadow: 0 0 20px #bbb;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.movies-table thead tr {
    background-color: #2fb6b6;
    color: #ffffff;
    text-align: left;
    font-size: 1.1em;
}

.movies-table th,
.movies-table td {
    padding: 8px 10px;
    font-size: 0.9em;
}

@media screen and (min-width: 601px) {
    .col-collapse {
        visibility: visible;
    }
}

/* Collapse  */
@media screen and (max-width: 600px) {
    .col-collapse {
        visibility: collapse;
    }
}

.movies-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.movies-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.movies-table tbody tr.selected-row {
    font-weight: 400;
    background-color: #d6f5f5;
}

.input-button, .edit-button, .new-button {
    border: none;
    color: #fff;
    padding: 0.4em 1em;
    margin: 0;
    border-radius: 2em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    font-size: 0.9em;
    background-color: #2fb6b6;
}

.new-button {
    min-width: 100px;
}

input:focus, textarea:focus {
    background-color: #eee;
    border-width: 2px;
}

.cancel {
    background-color: #bbb;
    margin: 10px;
    min-width: 100px;
}

.cancel:hover {
    background-color: #888;
}

.save {
    margin-bottom: 10px;
    min-width: 100px;
}

.edit-button:hover, .save:hover, .new-button:hover {
    background-color: #258e8e;
}

label {
    display: inline-block;
    margin: 12px 0 0 6px;
    min-width: 120px;
    vertical-align: top;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border-radius: 15px;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 550px;
    min-width: 340px;
}

.modal-header {
    padding: 2px 12px;
    background-color: #2fb6b6;
    color: white;
    border-radius: 15px 15px 0 0;
    height: 50px;
}

.modal-header h3 {
    margin: 10px 0 10px 2px;
}

.modal-body {
    padding: 2px 12px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

input[type=text] {
    border: 1px solid #30a18a;
    border-radius: 5px;
    padding: 6px;
    margin: 10px 5px;
    width: 80%;
    max-width: 360px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 0.9em;
}

textarea {
    border: 1px solid #30a18a;
    border-radius: 5px;
    padding: 6px;
    margin: 10px 5px;
    width: 80%;
    max-width: 360px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 0.9em;
    resize: vertical;
}